{% extends 'operator_base.html' %}


{% block title %}{% endblock %}



{% block content %}
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                  <form class="row g-3" method="post"  >
                 {% csrf_token %}
{#                      {{ form.as_p }}#}

                    <div class="col-md-6">
                        <label for="id_add_phone_number"></label>
                        <input type="text" name="add_phone_number" value="{{ object.add_phone_number }}" class="form-control" maxlength="15"
                               id="id_add_phone_number" placeholder="Add Phone Number">
                    </div>
                    <div class="col-md-6">
                        <label for="id_first_name"></label>
                        <input type="text" name="first_name" value="{{ object.first_name }}" class="form-control" maxlength="50"
                               id="id_first_name" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <label for="id_last_name"></label>
                        <input type="text" name="last_name" value="{{ object.last_name }}" class="form-control" maxlength="50"
                               id="id_last_name" placeholder="Last Name">
                    </div>


                    <div class="col-md-6">
                        <label for="id_business_name"></label>
                        <input type="text" name="business_name" value="{{ object.business_name }}"  class="form-control" maxlength="100"
                               id="id_business_name" placeholder="Business Name">
                    </div>

                    <div class="col-md-12">
                        <label for="id_price"></label>
                        <input type="text" name="price" value="{{ object.price }}" class="form-control" required id="id_price" placeholder="Price">
                    </div>




                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" value="Band qilish">

{#                        <button type="reset" class="btn btn-secondary">Reset</button>#}
                    </div>



            </form>
            </div>

    </div>
    </div>






{% endblock %}