{% extends 'base_admin.html' %}

{% block title %}{% endblock %}

{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link " href="{% url 'worker_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>Buyurtmalar</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'worker_order_list_url' %}">
            <i class="bi bi-person"></i>
            <span>Mening buyurtmalarim</span>
        </a>
    </li><!-- End Profile Page Nav -->


    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
        </a>
    </li><!-- End Login Page Nav -->

{% endblock %}

{% block content %}

    <div class="card">
        <div style="margin: 40px;">

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Saqlash">
            </form>
        </div>
    </div>




{% endblock %}