{% extends 'admin_base.html' %}


{% block title %}{% endblock %}


{% block dashboard %}
        <div class="pagetitle">
            <h1>Order</h1>

        </div><!-- End Page Title -->
    {% endblock %}

{% block content %}

    <div class="card">
        <div style="margin: 40px;">

            <form method="post">{% csrf_token %}


                <p> "{{ object }}" ushbu loyihani o'chirishni xoxlaysizmi?</p>


                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
        </div>
    </div>





{% endblock %}