{% extends 'base_admin.html' %}

{% block title %}{% endblock %}


{% block sidebar %}

    <li class="nav-item">
        <a class="nav-link " href="{% url 'grant_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>Grantlar</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="{% url 'user_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>User</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="{% url 'order_admin_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>Order</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="{% url 'business_admin_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>Loyihalar</span>
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
        </a>
    </li>



{% endblock %}



{% block content %}
    <a href="{% url 'business_plan_add_url' %}"> Loyiha yaratish</a>

    <div class="card">
        <table class="table  table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name_business</th>
                <th scope="col">money_min</th>
                <th scope="col">profit_year</th>
                <th scope="col">profit_month</th>
                <th scope="col">cost</th>

            </tr>
            </thead>
            <tbody>
            {% for object in page_obj %}
                <tr style="cursor: pointer" onclick="window.location='#'">
                    <th scope="row">{{ object.id }}</th>
                    <td>{{ object.name_business }}</td>
                    <td>{{ object.money_min }}</td>
                    <td>{{ object.profit_year }}</td>
                    <td>{{ object.profit_month }}</td>
                    <td>{{ object.cost }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

     <nav aria-label="...">
        <ul class="pagination">

            {% if page_obj.has_previous %}
                <a class="page-link" href="?page=1">&laquo; birinchi</a>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">oldingi</a>
            {% endif %}
                <span class="page-link">
                       {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>


            {% if page_obj.has_next %}

                <a class="page-link" href="?page={{ page_obj.next_page_number }}">keyingi</a>
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">oxirgi &raquo;</a>


            {% endif %}
        </ul>
    </nav>

{% endblock %}