{% extends 'base_admin.html' %}


{% block title %}{% endblock %}

{% block sidebar %}

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'grant_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>Grantlar</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'user_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>User</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'order_admin_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>Order</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'business_admin_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>Loyihalar</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
        </a>
    </li><!-- End Login Page Nav -->

{% endblock %}

{% block content %}

    <div class="card">
         <div style="margin: 40px;">
       <form method="POST" enctype="multipart/form-data">

                            <!-- Security token -->
                            {% csrf_token %}

                            <!-- Using the formset -->
                            {{ form.as_p }}

                            <input type="submit" value="Submit">
                        </form>
    </div>
    </div>





{% endblock %}