{% extends 'base_admin.html' %}



{% block search %}
    <div class="search-bar">
        <form class="search-form d-flex align-items-center" action="{% url 'user_list_url' %}">
            <input type="text" name="search" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div>
{% endblock %}

{% block sidebar %}

    <li class="nav-item">
        <a class="nav-link " href="{% url 'grant_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>Grantlar</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="{% url 'user_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>User</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="{% url 'order_admin_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>Order</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="{% url 'business_admin_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>Loyihalar</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
        </a>
    </li>



{% endblock %}


{% block content %}

    <a href="{% url 'register_url' %}"> Foydalanuvchi yaratish</a>

    <div class="card">
        <table class="table  table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Role</th>
                <th scope="col">Max order</th>
                <th scope="col">Grant</th>
                <th scope="col">Biznes Reja</th>
                <th scope="col">TEO</th>
                <th scope="col">Boshqa</th>

            </tr>
            </thead>
            <tbody>
            {% for object in page_obj %}
                <tr>
                    <th scope="row">{{ object.id }}</th>
                    <td>{{ object.first_name }}</td>
                    <td>{{ object.last_name }}</td>
                    <td>{{ object.role }}</td>
                    <td>{{ object.number_of_orders }}</td>
                    <td>{{ object.grant_count }}</td>
                    <td>{{ object.business_count }}</td>
                    <td>{{ object.teo_count }}</td>
                    <td>{{ object.boshqa_count }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

     <nav aria-label="...">
        <ul class="pagination">

            {% if page_obj.has_previous %}
                <a class="page-link" href="?page=1">&laquo; birinchi</a>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">oldingi</a>
            {% endif %}
                <span class="page-link">
                       {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>


            {% if page_obj.has_next %}

                <a class="page-link" href="?page={{ page_obj.next_page_number }}">keyingi</a>
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">oxirgi &raquo;</a>


            {% endif %}
        </ul>
    </nav>



{% endblock %}