{% extends 'operator_base.html' %}


{% block title %}{% endblock %}

{% block search %}
    <div class="search-bar">
        <form class="search-form d-flex align-items-center" action="{% url 'order_list_url' %}">
            <input type="text" name="search" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div>
{% endblock %}
{% block dashboard %}
    <div class="pagetitle">


    </div><!-- End Page Title -->
{% endblock %}





{% block content %}
    <h1>Operator olgan buyurtmalar</h1>

    <div class="card" style="display: block; overflow-x: auto;white-space: nowrap">

        <table class="table  table-hover" >
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Phone</th>
                <th scope="col">Add Phone</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Province</th>
                <th scope="col">Region</th>
                <th scope="col">Business Name</th>
                <th scope="col">Business Type</th>
                <th scope="col">Price</th>
                <th scope="col">Payme</th>
                <th scope="col">Operator</th>
                <th scope="col">Worker</th>
                <th scope="col">Color type</th>



            </tr>
            </thead>
            <tbody>
            {% for object in page_obj %}
                <tr style="cursor: pointer" onclick="window.location='{% url 'pre_order_update_url' pk=object.id %}'">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ object.phone_number }}</td>
                    <td>{{ object.add_phone_number }}</td>
                    <td>{{ object.first_name }}</td>
                    <td>{{ object.last_name }}</td>
                    <td>{{ object.province }}</td>
                    <td>{{ object.region }}</td>
                    <td>{{ object.business_name }}</td>
                    <td>{{ object.business_type }}</td>
                    <td>{{ object.price }}</td>
                    <td>{{ object.payme }}</td>
                    <td>{{ object.operator_field }}</td>
                    <td>{{ object.worker_field }}</td>
                    <td>{{ object.color_type }}</td>




                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>


    <nav aria-label="...">
        <ul class="pagination">

            {% if page_obj.has_previous %}
                <a class="page-link" href="?page=1">&laquo; birinchi</a>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">oldingi</a>
            {% endif %}
            <span class="page-link">
                       {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>


            {% if page_obj.has_next %}

                <a class="page-link" href="?page={{ page_obj.next_page_number }}">keyingi</a>
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">oxirgi &raquo;</a>


            {% endif %}
        </ul>
    </nav>



{% endblock %}