{% extends 'operator_base.html' %}

{% block title %}{% endblock %}





{% block dashboard %}
    <div class="pagetitle">
        <h1>Individual Order</h1>

    </div>
{% endblock %}

{% block content %}
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add Order</h5>
                <form class="row g-3" method="post" id="personForm" data-cities-url="{% url 'ajax_load_cities' %}">
                    {% csrf_token %}
                    {#                    {{ form.as_p }}#}
                    <div class="col-md-6">
                        <label for="id_phone_number"></label>
                        <input type="text" name="phone_number" value="{{ object.phone_number }}" class="form-control"
                               maxlength="15" required
                               id="id_phone_number" placeholder="Phone number">
                    </div>
                    <div class="col-md-6">
                        <label for="id_add_phone_number"></label>
                        <input type="text" name="add_phone_number" value="{{ object.add_phone_number }}"
                               class="form-control" maxlength="15"
                               id="id_add_phone_number" placeholder="Add Phone Number">
                    </div>
                    <div class="col-md-6">
                        <label for="id_first_name"></label>
                        <input type="text" name="first_name" value="{{ object.first_name }}" class="form-control"
                               maxlength="50"
                               id="id_first_name" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <label for="id_last_name"></label>
                        <input type="text" name="last_name" value="{{ object.last_name }}" class="form-control"
                               maxlength="50"
                               id="id_last_name" placeholder="Last Name">
                    </div>
                    <div class="col-md-6">
                        <label for="id_province"></label>
                        <select name="province" class="form-select" id="id_province">
                            <option value="{{ object.province.pk }}" selected>{{ object.province }}</option>
                            <option value="1">Andijon viloyati</option>
                            <option value="2">Buxoro viloyati</option>
                            <option value="3">Fargʻona viloyati</option>
                            <option value="4">Jizzax viloyati</option>
                            <option value="5">Xorazm viloyati</option>
                            <option value="6">Namangan viloyati</option>
                            <option value="7">Navoiy viloyati</option>
                            <option value="8">Qashqadaryo viloyati</option>
                            <option value="9">Qoraqalpogʻiston Respublikasi</option>
                            <option value="10">Samarqand viloyati</option>
                            <option value="11">Sirdaryo viloyati</option>
                            <option value="12">Surxondaryo viloyati</option>
                            <option value="13">Toshkent viloyati</option>
                            <option value="14">Toshkent Shahri</option>


                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="id_region"></label>
                        <select name="region" class="form-select" id="id_region">
                            <option value="{{ object.region.pk }}" selected>{{ object.region }}</option>

                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="id_business_name"></label>
                        <input type="text" value="{{ object.business_name }}" name="business_name" maxlength="100"
                               class="form-control"
                               id="id_business_name" placeholder="Business Name">
                    </div>
                    <div class="col-md-6">
                        <label for="id_business_type"></label>
                        <select name="business_type" class="form-select" id="id_business_type">

                            <option value="business" {% if object.business_type == 'business' %} selected {% endif %}>
                                Biznes Reja
                            </option>

                            <option value="teo"{% if object.business_type == 'teo' %} selected {% endif %} >TEO</option>

                            <option value="grand" {% if object.business_type == 'grand' %} selected {% endif %} >Grand
                            </option>

                            <option value="boshqa" {% if object.business_type == 'boshqa' %} selected {% endif %} >
                                Boshqa
                            </option>

                            <option value="qiziqmadi" {% if object.business_type == 'qiziqmadi' %}selected {% endif %}>
                                Qiziqish bo&#x27;lmadi
                            </option>

                        </select>

                    </div>
                    <div class="col-md-12">
                        <label for="id_quality"></label>
                        <select name="quality" class="form-select" id="id_quality">


                            <option value="narx" {% if object.business_type == 'narx' %} selected {% endif %}>Narx
                            </option>

                            <option value="sifat" {% if object.business_type == 'sifat' %} selected {% endif %}>Sifat
                            </option>

                            <option value="narx+sifat" {% if object.business_type == 'narx+sifat' %}
                                    selected {% endif %}>Narx + Sifat
                            </option>

                        </select>

                    </div>
                    <div class="col-md-12">
                        <label for="id_comment" class="col-sm-2 col-form-label">Comment</label>
                        <div class="col-sm-10">
                            <textarea id="id_comment" name="comment"  class="form-control" style="height: 100px">{{ object.comment }}</textarea>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <label for="id_price"></label>
                        <input type="text" name="price" value="{{ object.price }}" class="form-control" required
                               id="id_price"
                               placeholder="Price">
                    </div>


                    <div class="col-md-4">
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseWidthExample" aria-expanded="false"
                                    aria-controls="collapseWidthExample">
                                Color
                            </button>
                        </p>
                        <div class="collapse collapse-horizontal" id="collapseWidthExample">
                            <div class="card card-body" style="width: 300px;">
                                <div id="id_color_type">
                                    <div class="row" style="margin-top: 3%; margin-bottom: 3%">
                                        <div class="col-sm-4">
                                            <label class="btn btn-outline-success " for="id_color_type_0">
                                                <input type="radio" name="color_type" value="green"
                                                        {% if object.color_type == "green" %} checked {% endif %}
                                                       maxlength="15"
                                                       id="id_color_type_0">
                                                <i class="bi bi-emoji-smile" style="font-size: 4rem"></i>
                                            </label>

                                        </div>
                                        <div class="col-sm-4">
                                            <label class="btn btn-outline-warning" for="id_color_type_1">
                                                <input type="radio" name="color_type" value="yellow"
                                                        {% if object.color_type == "yellow" %} checked {% endif %}
                                                       maxlength="15"
                                                       id="id_color_type_1">
                                                <i class="bi bi-emoji-frown" style="font-size: 4rem"></i></label>

                                        </div>
                                        <div class="col-sm-4">
                                            <label class="btn btn-outline-danger" for="id_color_type_2">
                                                <input type="radio" name="color_type" value="red"
                                                        {% if object.color_type == "red" %} checked {% endif %}
                                                       maxlength="15"
                                                       id="id_color_type_2"/>
                                                <i class="bi bi-emoji-angry-fill" style="font-size: 4rem"></i>
                                            </label>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseWidthExample1" aria-expanded="false"
                                    aria-controls="collapseWidthExample">
                                Paid
                            </button>
                        </p>
                        <div class="collapse collapse-horizontal" id="collapseWidthExample1">
                            <div class="card card-body col-sm-10">
                                <label for="id_payme">Payme:</label>
                                <input type="text" value="0" name="payme" class="form-control" maxlength="50"
                                       id="id_payme">
                                <label for="id_stat_date">Stat date:</label>
                                <input type="datetime-local" name="stat_date" value="" class="form-control"
                                       id="id_stat_date">
                                <label for="id_end_date">End date:</label>
                                <input type="datetime-local" name="end_date" value="" class="form-control"
                                       id="id_end_date">
                            </div>
                        </div>

                    </div>


                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" value="band qilish" id="submitBtn">

                        {#                        <button type="reset" class="btn btn-secondary">Reset</button>#}
                    </div>
                </form>
                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script>
                    const formElement = document.querySelector('#personForm');
                    const priceField = document.querySelector('#id_price');
                    const paidField = document.querySelector('#id_payme');

                    function numberWithSpaces(x) {
                        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
                    }

                    priceField.addEventListener('keyup', (e) => {
                        let val = e.target.value.replace(/\s+/g, '');
                        e.target.value = numberWithSpaces(val);
                    });
                    paidField.addEventListener('keyup', (e) => {
                        let val = e.target.value.replace(/\s+/g, '');
                        e.target.value = numberWithSpaces(val);
                    })

                    paidField.addEventListener('keydown', (e) => {
                        if(e.keyCode > 57 && e.shiftKey !== false && e.altKey !== false){
                            e.preventDefault()
                        }
                    })


                    document.querySelector('#submitBtn').addEventListener('click', (e) => {
                        priceField.value = parseInt(priceField.value.replace(/\s/g, ''));
                        paidField.value = parseInt(paidField.value.replace(/\s/g, ''));

                        formElement.submit()
                    })



                    $("#id_province").change(function () {
                        const url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
                        const provinceId = $(this).val();  // get the selected country ID from the HTML input

                        $.ajax({                       // initialize an AJAX request
                            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                            data: {
                                'province_id': provinceId       // add the country id to the GET parameters
                            },
                            success: function (data) {   // `data` is the return of the `load_cities` view function

                                $("#id_region").html(data);  // replace the contents of the city input with the data that came from the server
                                /*

                                let html_data = '<option value="">---------</option>';
                                data.forEach(function (city) {
                                    html_data += `<option value="${city.id}">${city.name}</option>`
                                });
                                console.log(html_data);
                                $("#id_city").html(html_data);

                                */
                            }

                        });

                    });
                </script>

            </div>
        </div>

    </div>











{% endblock %}