{% extends 'operator_base.html' %}


{% block title %}{% endblock %}

{#{% block search %}#}
{#    <div class="search-bar">#}
{#        <form class="search-form d-flex align-items-center" action="{% url 'order_list_url' %}">#}
{#            <input type="text" name="search" placeholder="Search" title="Enter search keyword">#}
{#            <button type="submit" title="Search"><i class="bi bi-search"></i></button>#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}
{% block dashboard %}
    <div class="pagetitle">


    </div><!-- End Page Title -->
{% endblock %}





{% block content %}
    <form>
        <div class="row">
            <div class="col-lg-4 mb-2">

                <select name="oy" class="form-select" id="id_business_type">

                    <option value="2">O'tgan oy</option>

                    <option value="1" selected>Joriy oy</option>

                </select>


            </div>
            <div class="col-lg-4 mb-2">
                <select name="type" class="form-select" id="chart-type">

                    <option value="wrt-chart" selected>Writer</option>
                    <option value="opr-chart">Operator</option>
                    <option value="all-chart">All</option>

                </select>
            </div>
            <div class="col-lg-4 mb-2">
                <button class="btn btn-primary">search</button>
            </div>
        </div>
    </form>
    <div class="col pt-4">


        <div class="card card-chart" id="wrt-chart">
            <div class="card-body" style="position: relative;">
                <h5 class="card-title">Writer</h5>

                <!-- Bar Chart -->
                <div id="barChartW" style="min-height: 365px;">
                </div>

                <!-- End Bar Chart -->

                <div class="resize-triggers">
                    <div class="expand-trigger">
                        <div style="width: 541px; height: 451px;"></div>
                    </div>
                    <div class="contract-trigger"></div>
                </div>
            </div>
        </div>
        <div class="card card-chart" id="opr-chart">
            <div class="card-body" style="position: relative;">
                <h5 class="card-title">Operator</h5>

                <!-- Bar Chart -->
                <div id="barChartO" style="min-height: 365px;">
                </div>

                <!-- End Bar Chart -->

                <div class="resize-triggers">
                    <div class="expand-trigger">
                        <div style="width: 541px; height: 451px;"></div>
                    </div>
                    <div class="contract-trigger"></div>
                </div>
            </div>
        </div>
        <div class="card card-chart" id="all-chart">
            <div class="card-body" style="position: relative;">
                <h5 class="card-title">All</h5>

                <!-- Bar Chart -->
                <div id="barChartAll" style="min-height: 365px;">
                </div>

                <!-- End Bar Chart -->

                <div class="resize-triggers">
                    <div class="expand-trigger">
                        <div style="width: 541px; height: 451px;"></div>
                    </div>
                    <div class="contract-trigger"></div>
                </div>
            </div>
        </div>
    </div>
    <script>

        let names = '{{ user_names }} ';
        names = names.replace(new RegExp("&" + "#" + "x27;", "g"), "").slice(1, -2).split(',');

        const dataForTable = {
            series: [{
                data: {{ user_order_price }}
            }],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    borderRadius: 4,
                    horizontal: true,
                }
            },
            dataLabels: {
                enabled: false
            },
            xaxis: {
                categories: [],
            }
        };
        dataForTable.xaxis.categories = names;
        const dataForTableO = {
            series: [{
                data: {{ user_order_price }}
            }],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    borderRadius: 4,
                    horizontal: true,
                }
            },
            dataLabels: {
                enabled: false
            },
            xaxis: {
                categories: [],
            }
        };
        dataForTableO.xaxis.categories = names;
        const dataForTableA = {
            series: [{
                data: {{ user_order_price3 }}
            }],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    borderRadius: 4,
                    horizontal: true,
                }
            },
            dataLabels: {
                enabled: false
            },
            xaxis: {
                categories: [],
            }
        };
        dataForTableA.xaxis.categories = names;
        document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#barChartW"), dataForTable).render();
        });

        document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#barChartO"), dataForTableO).render();
        });

        document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#barChartAll"), dataForTableA).render();
        });
        const typeSelect = document.querySelector('#chart-type');
        function checkBarChart () {
            document.querySelectorAll('.card-chart').forEach( (item) => {
                if( item.getAttribute('id') !== typeSelect.value) {
                     item.style.display = 'none'
                } else {
                    item.style.display = 'block'
                }
            })
        }
        document.addEventListener("DOMContentLoaded", checkBarChart);
        typeSelect.addEventListener('change', checkBarChart)

    </script>









{% endblock %}