{% extends 'operator_base.html' %}


{% block title %}{% endblock %}

{% block search %}
    <div class="search-bar">
        <form class="search-form d-flex align-items-center" action="#">
            <input type="text" name="search" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div>
{% endblock %}
{% block dashboard %}
    <div class="pagetitle">


    </div><!-- End Page Title -->
{% endblock %}





{% block content %}
    <h1>Operator olgan buyurtmalar</h1>

    <div class="card" style="display: block; overflow-x: auto;white-space: nowrap">

        <table class="table  table-hover" id="orders_table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Phone</th>
{#                <th scope="col">Add Phone</th>#}
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Province</th>
{#                <th scope="col">Region</th>#}
                <th scope="col">Business Name</th>
{#                <th scope="col">Business Type</th>#}
                <th scope="col">Operator</th>
{#                <th scope="col">Start Date</th>#}
{#                <th scope="col">End Date</th>#}
{#                <th scope="col">Quality</th>#}
{#                <th scope="col">Price</th>#}
{#                <th scope="col">Payme</th>#}

            </tr>
            </thead>
            <tbody>


            {% for object in page_object.object_list %}



                <tr style="cursor: pointer"
                    onclick="window.location='#'"
                    data-time-start='{{object.get_timestamp_start_date }}'
                    data-time-end='{{object.get_timestamp_end_date }}'
                    class="table-row"
                    >
                    <th scope="row">{{ forloop.counter }}</th>

                    <td>{{ object.phone_number }}</td>
{#                    <td>{{ object.add_phone_number }}</td>#}
                    <td>{{ object.first_name }}</td>
                    <td>{{ object.last_name }}</td>
                    <td>{{ object.province }}</td>
{#                    <td>{{ object.region }}</td>#}
                    <td>{{ object.business_name }}</td>
{#                    <td>{{ object.business_type }}</td>#}
                    <td>{{ object.operator_field }}</td>
{#                    <td>{{ object.stat_date|date:'d.m.Y' }}</td>#}
{#                    <td>{{ object.end_date|date:'d.m.Y' }}</td>#}
{#                    <td>{{ object.quality }}</td>#}
{#                    <td>{{ object.price }}</td>#}
{#                    <td>{{ object.payme }}</td>#}






                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

        {% if is_paginated %}
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item {% if not prev_url %} disabled {% endif %}">
                    <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>

                {% for n in page_object.paginator.page_range %}
                    {% if page_object.number == n %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                        </li>
                    {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                        <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item {% if not next_url %} disabled{% endif %}">
                    <a class="page-link" href="{{ next_url }}">Next</a>
                </li>
            </ul>
        </nav>
    {% endif %}




<script>
   const listOfTr = document.querySelectorAll('#orders_table tr.table-row');
   listOfTr.forEach((item) => {
       if(item.dataset.timeStart !== '0' &&  item.dataset.timeEnd !== '0') {
           let strDateStart = item.dataset.timeStart.split(' ');
           let strDateEnd = item.dataset.timeEnd.split(' ');
           let yearsS = strDateStart[0].split('/')
           let yearsE =strDateEnd[0].split('/')
           let timeStart = new Date(yearsS[1] + '/' + yearsS[0] + '/' +  yearsS[2]);
           let timeEnd = new Date(yearsE[1] + '/' + yearsE[0] + '/' +  yearsE[2]);
           let hourS = (strDateStart[1].split(':'));
           let hourE = (strDateEnd[1].split(':'));
           timeStart.setHours(+hourS[0], +hourS[1], +hourS[2] );
           timeEnd.setHours(+hourE[0], +hourE[1], +hourE[2] );
           let middle = (timeEnd - timeStart) / 3;
           let firstInterval = +timeStart + middle;
           let secondInterval = timeEnd - middle;
           const currentElement = item  ;
           if (Date.now() < firstInterval){
                   currentElement.style.backgroundColor = '#00FF00'
           }else if(Date.now() >= firstInterval && Date.now() < secondInterval ){
                   currentElement.style.backgroundColor = 'yellow'
           } else{
                   currentElement.style.backgroundColor = '#FF0000'
           }
           setInterval(() => {
               if (Date.now() < firstInterval){
                   currentElement.style.backgroundColor = '#00FF00'
               }else if(Date.now() >= firstInterval && Date.now() < secondInterval ){
                   console.log()
                   currentElement.style.backgroundColor = 'yellow'
               } else{
                   currentElement.style.backgroundColor = '#FF0000  '
               }
               console.log(Date.now(), 'now');
           },60000)
       }
   })



</script>
{% endblock %}