{% extends 'base_front.html' %}
{% block title %}  {% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
             <div class="shadow-lg p-3 mb-5 bg-body rounded" style="text-align: center">
                <h2>Arizangiz ko'rib chiqilmoqda</h2>
                <h2>Operatorlarimiz tez orada siz bilan bog'lanishadi</h2>
            </div>
        </div>
        <div class="col-2"></div>




    </div>





    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}