{% extends 'base_admin.html' %}


{% block title %}{% endblock %}

{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link " href="{% url 'grant_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>Grantlar yaratish</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="{% url 'user_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>User</span>
        </a>
    </li>





    <li class="nav-item">
        <a class="nav-link collapsed" href="#">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
        </a>
    </li>

{% endblock %}

{% block content %}

    <div class="card">
        <div style="margin: 40px;">

            <form method="post">{% csrf_token %}


                <p> "{{ object }}" ushbu grantni o'chirishni xoxlaysizmi?</p>


                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
        </div>
    </div>





{% endblock %}