{% extends 'operator_base.html' %}

{% block title %}{% endblock %}

{% block content %}


            <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
                    <a href="{% url 'individual_order_create_url' %}">
                         <div class="card-body">
                        <h5 class="card-title">Buyurtma yaratish </h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-person"></i>
                            </div>
                            <div class="ps-3">
                                <h6></h6>
                                <span class="text-success small pt-1 fw-bold"></span> <span
                                    class="text-muted small pt-2 ps-1"></span>

                            </div>
                        </div>
                    </div>
                    </a>


                </div>
            </div>


            <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
                    <a href="{% url 'order_list_url' %}">
                        <div class="card-body">
                        <h5 class="card-title">Saytdan kelgan buyurtmalar </h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-person"></i>
                            </div>
                            <div class="ps-3">
                                <h6></h6>
                                <span class="text-success small pt-1 fw-bold"></span> <span
                                    class="text-muted small pt-2 ps-1"></span>

                            </div>
                        </div>
                    </div>
                    </a>


                </div>
            </div>












{% endblock %}