{% extends 'base_admin.html' %}





{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link " href="{% url 'worker_list_url' %}">
            <i class="bi bi-grid"></i>
            <span>Buyurtmalar</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'worker_order_list_url' %}">
            <i class="bi bi-person"></i>
            <span>Mening buyurtmalarim</span>
        </a>
    </li><!-- End Profile Page Nav -->


    <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
        </a>
    </li><!-- End Login Page Nav -->

{% endblock %}


{% block content %}

    <div class="card">
        <table class="table  table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Phone</th>

            </tr>

            </thead>
            <tbody>
            {% for object in object_list %}
                <tr style="cursor: pointer" onclick="window.location='{% url 'worker_update_url'  pk=object.pk %}'">
                    <th scope="row">{{ object.id }}</th>
                    <td>{{ object.working_phone }}</td>



                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}