{% extends 'base_front.html' %}
{% block title %} Phone number {% endblock %}

{% block content %}

    <div class="blog-area" id="form_margin">
        <div class="container">
            <br>
            <div class="section-title text-center">
                <h2>Telefon raqamingizni kiriting</h2>
            </div>

            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <div class="card-body">

                    <div class="case-article">
                        <form method="POST" enctype="multipart/form-data">

                            <!-- Security token -->
                            {% csrf_token %}

                            <!-- Using the formset -->
                            {{ form.as_p }}

                            <input class="btn btn-primary" type="submit" value="Submit">
                        </form>
                    </div>

                </div>
            </div>


        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}