{% extends 'base_front.html' %}
{% load static %}

{% block title %}
    about
{% endblock %}


{% block content %}

    <div class="about-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-play">
                        <img src="{% static 'assets/images/about/about-img1.jpg' %}" alt="About Images">
                        <div class="about-play-content">
                            <span>Watch Our Intro Video</span>
                            <h2>Perfect Solution for It Services!</h2>
                            <div class="play-on-area">
                                <a href="https://www.youtube.com/watch?v=tUP5S4YdEJo" class="play-on popup-btn"><i
                                        class="bx bx-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content ml-25">
                        <div class="section-title">
                            <span class="sp-color2">15 Years of Experience</span>
                            <h2>Right Partner for Software Innovation</h2>
                            <p>
                                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                                sem nibh id elit. Duis sed odio sit amet.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <ul class="about-list text-start">
                                    <li><i class="bx bxs-check-circle"></i>Cost of Supplies and Equipment</li>
                                    <li><i class="bx bxs-check-circle"></i>Bribed Autor Nisi Elit Volume</li>
                                    <li><i class="bx bxs-check-circle"></i>Cost of Supplies and Equipment</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <ul class="about-list about-list-2 text-start">
                                    <li><i class="bx bxs-check-circle"></i>Change the Volume of Expected</li>
                                    <li><i class="bx bxs-check-circle"></i>Easy to Customer Services</li>
                                    <li><i class="bx bxs-check-circle"></i>Good Quality Products Services</li>
                                </ul>
                            </div>
                        </div>
                        <p class="about-content-text">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                            consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                            a sit amet mauris. Morbi accumsan ipsum velit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="choose-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="choose-content mr-20">
                        <div class="section-title">
                            <span class="sp-color1">Why Choose Us</span>
                            <h2>We Provide Truly Prominent It Solutions.</h2>
                            <p>
                                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                                sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi
                                accumsan ipsum auctor a ornare odio.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-6">
                                <div class="choose-content-card">
                                    <div class="content">
                                        <i class="flaticon-practice"></i>
                                        <h3>Experience</h3>
                                    </div>
                                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-6">
                                <div class="choose-content-card">
                                    <div class="content">
                                        <i class="flaticon-help"></i>
                                        <h3>Quick Support</h3>
                                    </div>
                                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-img">
                        <img src="{% static 'assets/images/choose-img.jpg' %}" alt="Images">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="brand-area-two ptb-100">
        <div class="container">
            <div class="brand-slider owl-carousel owl-theme owl-loaded owl-drag">


                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(-2016px, 0px, 0px); transition: all 0.25s ease 0s; width: 3024px;">
                        <div class="owl-item cloned" style="width: 192px; margin-right: 60px;">
                            <div class="brand-item">
                                <img src="{% static '' %}assets/images/brand-logo/brand-style4.png" alt="Images">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 192px; margin-right: 60px;">
                            <div class="brand-item">
                                <img src="{% static 'assets/images/brand-logo/brand-style5.png' %}" alt="Images">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 192px; margin-right: 60px;">
                            <div class="brand-item">
                                <img src="{% static 'assets/images/brand-logo/brand-style3.png' %}" alt="Images">
                            </div>
                        </div>
                        <div class="owl-item" style="width: 192px; margin-right: 60px;">
                            <div class="brand-item">
                                <img src="{% static 'assets/images/brand-logo/brand-style1.png' %}" alt="Images">
                            </div>
                        </div>
                        <div class="owl-item" style="width: 192px; margin-right: 60px;">
                            <div class="brand-item">
                                <img src="{% static 'assets/images/brand-logo/brand-style2.png' %}" alt="Images">
                            </div>
                        </div>
                        <div class="owl-item" style="width: 192px; margin-right: 60px;">
                            <div class="brand-item">
                                <img src="{% static 'assets/images/brand-logo/brand-style3.png' %}" alt="Images">
                            </div>
                        </div>
                        <div class="owl-item" style="width: 192px; margin-right: 60px;">
                            <div class="brand-item">
                                <img src="{% static 'assets/images/brand-logo/brand-style4.png' %}" alt="Images">
                            </div>
                        </div>
                        <div class="owl-item" style="width: 192px; margin-right: 60px;">
                            <div class="brand-item">
                                <img src="{% static 'assets/images/brand-logo/brand-style5.png' %}" alt="Images">
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 192px; margin-right: 60px;">
                            <div class="brand-item">
                                <img src="{% static 'assets/images/brand-logo/brand-style3.png' %}" alt="Images">
                            </div>
                        </div>
                        <div class="owl-item cloned active" style="width: 192px; margin-right: 60px;">
                            <div class="brand-item">
                                <img src="{% static 'assets/images/brand-logo/brand-style1.png' %}" alt="Images">
                            </div>
                        </div>
                        <div class="owl-item cloned active" style="width: 192px; margin-right: 60px;">
                            <div class="brand-item">
                                <img src="{% static 'assets/images/brand-logo/brand-style2.png' %}" alt="Images">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 192px; margin-right: 60px;">
                            <div class="brand-item">
                                <img src="{% static 'assets/images/brand-logo/brand-style3.png' %}" alt="Images">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav disabled">
                    <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span>
                    </button>
                    <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>

    <div class="counter-area pt-100 pb-70">
        <div class="container">
            <div class="section-title text-center">
                <span class="sp-color2">Numbers Are Talking</span>
                <h2>Biznessda o'z o'rnini topgan loyihalarimiz</h2>
                <p>Siz ham biznessda  o'z muvaffaqiyataringizga erishmoqchi bo'lsangiz bizning loyihalarimizda xarid qilishingiz mumkin!  </p>
            </div>
            <div class="row pt-45">
                <div class="col-lg-3 col-6 col-md-3">
                    <div class="counter-another-content">
                        <i class="flaticon-web-development"></i>
                        <h3>591+</h3>
                        <span>Tayyorlangan biznes loyihalar</span>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-md-3">
                    <div class="counter-another-content">
                        <i class="flaticon-consulting-1"></i>
                        <h3>245+</h3>
                        <span>Kredit uchun loyihalar </span>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-md-3">
                    <div class="counter-another-content">
                        <i class="flaticon-startup"></i>
                        <h3>193+</h3>
                        <span>Grant va Venchur fond uchun loyihalar </span>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-md-3">
                    <div class="counter-another-content">
                        <i class="flaticon-tick"></i>
                        <h3>153+</h3>
                        <span>Sotuvdagi loyihalar</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="counter-shape">
            <div class="shape1">
                <img src="assets/images/shape/shape1.png" alt="Images">
            </div>
            <div class="shape2">
                <img src="assets/images/shape/shape2.png" alt="Images">
            </div>
        </div>
    </div>

    <div class="team-area pt-100 pb-70">
        <div class="container">
            <div class="section-title text-center">
                <h2>Ilmiy kengash a'zolarimiz</h2>
            </div>
            <div class="row pt-45">
                {% for object in object_list %}
                    <div class="col-lg-4 col-md-6">
                    <div class="team-card">
                        <a href="{% url 'team_detail_front_url' pk=object.pk %}"><img src="{{ object.image.url }}" alt="Team Images"></a>

                        <ul class="social-link">
                            <li>
                                <a href="#"><i class="bx bxl-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-youtube"></i></a>
                            </li>
                        </ul>

                        <div class="content">
                            <p style="color: white">{{ object.last_name }} {{ object.first_name }}</p>
                            <p style="color: white">{{ object.academic_degree }}</p>
                        </div>


                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>

{% endblock %}





